
div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

h1 {
    color: rgb(173, 173, 173);
}

a.btnplay {
    width: 80px;
    height: 80px;
    background-color: greenyellow;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.play {
    width: 20px;
}

img.logobxt {
    width: 150px;
}

body {
    display: flex;
    background-color: rgb(0, 0, 0);
    font: normal 15pt arial;
    color: white;
    justify-content: center;

}

div#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

div#res {
    background-color: white;
    color: black;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    margin-bottom: 5px;
}



img#logobxt {
    width: 100px;
    align-items: center;
}

p#tw{
    text-align: center;
    letter-spacing: 8px;
    line-height: 32px;
}

a#btnback {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.658);
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5px;
    padding: 5px 15px 5px 15px; 
}


a#btnpage3:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}

a#btnaula {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 70px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 5px;
}

a#btnaula:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}

a {
    text-decoration: none;
    color: black;
}